<h2><%= @task.title %></h2>
<p><%= @task.details %></p>
<% if @task.completed == true  %>
<p><%= "Completed 🙌 " %></p>
<% else %>
<p><%= "Not completed yet 🙄" %></p>
<% end %>


<%= link_to "Back to list", list_path %>
<%= link_to "Edit task", edit_task_path %>
<%= link_to "Delete #{@task.title}",
            task_path(@task),
            method: :delete,
            data: { confirm: "Are you sure?" } %>
